{name, "plists"}.
{authors, ["Stephen Marsh <freeyourmind@gmail.com>"]}.
{description, "An Erlang module for doing list operations in parallel"}.
{homepage, "http://code.google.com/p/plists/"}.
{rebar_compatible, true}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/yrashk/plists.git", {branch, "master"}}}.
{applications, [plists]}.
